.css-185gdzj-MuiCardHeader-root{
    background-color:#DEECF4
}
   .css-1qvr50w-MuiTypography-root{
color:#0070AC
 } 
 .css-sghohy-MuiButtonBase-root-MuiButton-root{
   background-color:#0070AC
   
} 
