.css-185gdzj-MuiCardHeader-root {
    background-color: #deecf4;
}

.css-1qvr50w-MuiTypography-root {
    color: #0070ac;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: #0070ac;
}
