.css-185gdzj-MuiCardHeader-root {
    background-color: #deecf4;
}

.css-1qvr50w-MuiTypography-root {
    color: #0070ac;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: #0070ac;
}
.selecteducation{
    width: 270px;
    height: 53px;
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    font-size: 14px;
}